<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>gateway-web</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Tester</display-name>
    <servlet-name>Tester</servlet-name>
    <servlet-class>net.moveltrack.gateway.Tester</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Tester</servlet-name>
    <url-pattern>/Tester</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>
        net.moveltrack.gateway.StartService
    </listener-class>
  </listener>
</web-app>